/* heading */
.center {
    text-align: center;
}

/* dark theme */
body.dark-theme {
    background-color: black;
    color: white;
}

body.dark-theme #hand {
    background-color: darkslateblue;
}

body.dark-theme .card {
    border-color: white;
}

body.dark-theme .card:hover {
    border-color: yellow;
}

body.dark-theme .cell {
    background-color: gray;
    border-color: white;
}

body.dark-theme .cell:hover {
    border-color: yellow;
}

body.dark-theme .player {
    background-color: darkcyan;
}

body.dark-theme .opponent {
    background-color: darkred;
}

/* game board */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid black;
    border-radius: 5%;
    min-width: 10em;
    min-height: 10em;
    margin: 1em;
}

/* card hand */
#hand {
    background-color: darkblue;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex: 1;
}

.card {
    border: 1px solid black;
    border-radius: 5%;
    width: 10em;
    height: 10em;
    margin: 1em;
    position: relative;
}

.card .spike {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.card .spike.top {
    border-width: 0 0.5em 1em 0.5em;
    border-color: transparent transparent gray transparent;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
}

.card .spike.bottom {
    border-width: 1em 0.5em 0 0.5em;
    border-color: gray transparent transparent transparent;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
}

.card .spike.left {
    border-width: 0.5em 1em 0.5em 0;
    border-color: transparent gray transparent transparent;
    left: -1em;
    top: 50%;
    transform: translateY(-50%);
}

.card .spike.right {
    border-width: 0.5em 0 0.5em 1em;
    border-color: transparent transparent transparent gray;
    right: -1em;
    top: 50%;
    transform: translateY(-50%);
}

.player {
    background-color: aqua;
}

.opponent {
    background-color: red;
}

.card:hover {
    transform: scale(1.05);
    border-color: rgb(224, 210, 2);
}

.card.placed:hover {
    transform: none;
    border-color: black;
}

img {
    width: 100%;
    height: auto; 
    object-fit: contain;
}

#container {
    height: 100%;
    border-collapse: collapse;
}